@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./wavy-lines.svg');
  /*background-size: cover;*/
  user-select: none;
  background-clip: border-area;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}